h2{
  
  color:#003580;
  
}

#hua{

   font-size:14px;
   color:#000033;

}

a{

  color:#F00;

}

.y1{

  color:#1F87CC;

}

.y2{

  color:#FAA53B;

}

.y3{

  color:#0D7114;

}

.y4{

  color:#FAA53B;

}

.y5{

  width:100px;
  height:160px;

}

.y6{

  width:200px;
  height:130px;

}

.y7{

  width:200px;
  height:130px;

}













